* {
	font-family: "Karla", sans-serif;
	font-size: 18px;
	color: rgb(80, 168, 252);
}

.xr-button {
	border: rgb(80, 168, 252) 2px solid;
	border-radius: 2px;
	box-sizing: border-box;
	background: none;
	height: 55px;
	min-width: 150px;
	width: 40vw;
	margin: 2vh 6vw 2vh 0;
	display: inline-block;
	position: relative;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.7);
}

.range {
	vertical-align: left;
	min-width: 150px;
	width: 40vw;
	margin: 2vh 6vw 2vh 0;
	min-height: 55px;
}

.overlay {
	position: fixed;
	top: 5vh;
	left: 5vw;
	right: 5vw;
}

.top-buttons {
	position: fixed;
	top: 5vh;
}

.below-buttons {
	position: fixed;
	bottom: 5vh;
}